<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin Remove</title>
</head>

<body>
    <h1>Removing All Applicants</h1>
    <form action="http://localhost:<%- port %>/removeAll" method="post">
        <br>
        <input type="submit" value="remove all applicants"/>
        <br>
    </form>
    <hr>
    <a href="http://localhost:<%- port %>">HOME</a>
</body>

</html>