<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin GPA</title>
</head>

<body>
    <h1>Display GPA's Greater than or Equal to</h1>
    <form action="http://localhost:<%- port %>/admin" method="post">
        <label>GPA: <input type="text" name="gpa"></label>  
        <br>
        <input type="submit" value="Submit Request" />
        <br>
        <br>
    </form>
    <hr>
    <a href="http://localhost:<%- port %>">HOME</a>
</body>

</html>