<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Card Search</title>
	<link rel="stylesheet" type="text/css" href="myCSS.css" /> 
</head>

<body>
	<h2>Yu-Gi-Oh Card Found</h2>
	<!-- <%- cardName %> -->
    <br>
    <div id="display">
        <%- cardPhoto %>
    </div>

    <br><hr>
    <a href="/">HOME</a> 
    
    


</body>

</html>
