<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Card Search</title>
	<link rel="stylesheet" type="text/css" href="myCSS.css" /> 
</head>

<body>
	<h2>Yu-Gi-Oh Card Finder</h2>
	<form method="post">
		<label><strong>Enter a Yu-Gi-Oh Card Name: </strong><input type="text" name="name"></label>
		<input type="submit" value="Submit Request"/> 
	</form>
	<br>
	<h3>Sample List of Cards:</h3>
	<%- sample %>
</body>

</html>
