<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Removed Applicants</title>
</head>

<body>
    <h1>Removing All Applicants</h1>
    <br>
    All aplications ahave been removed from the database. Number of aplications removed: <%- count %>
    <br>
    <a href="http://localhost:<%- port %>">HOME</a>

</body>

</html>