<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Review Application</title>
</head>

<body>

    <form action="http://localhost:<%- port %>/reviewApplication" method="post">

        <fieldset>
    
            <label>Email Address: <input type="email" name="email" placeholder="example@notreal.notreal"></label>

        </fieldset>

        <br>
        <input type="reset"/>
        <input type="submit" value="Submit Request"/>

    </form>
</body>

</html>